<!-- Search Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center mx-auto mb-5" style="max-width: 500px">
      <h5
        class="d-inline-block text-primary text-uppercase border-bottom border-5"
      >
        Find A Doctor
      </h5>
      <h1 class="display-4 mb-4">Find A Healthcare Professionals</h1>
    </div>
    <!--Search-->
    <div class="mx-auto" style="width: 100%; max-width: 600px">
      <div class="input-group">
        <select
          class="form-select border-primary w-25"
          style="height: 60px"
          #spec
          (change)="searchBySpec(spec.value)"
        >
          <option value="All">All</option>
          <option value="Generalist">General Practitioner</option>
          <option value="Pediatrician">Pediatrician</option>
          <option value="Psychiatrist">Psychiatrist</option>
          <option value="Dermatologist">Dermatologist</option>
        </select>
        <input
          type="text"
          class="form-control border-primary w-50"
          placeholder="Keyword"
          #name
        />
        <button class="btn btn-dark border-0 w-25" (click)="search(name.value)">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Search End -->

<!-- Search Result Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 team-item" *ngFor="let d of doctorsList">
        <a [routerLink]="['/list', d?._id]">
          <div class="row g-0 bg-light rounded overflow-hidden">
            <div class="col-6 col-sm-5 h-100">
              <img
                class="img-fluid h-100"
                [src]="d.person.image || '../../../../assets/img/team-1.jpg'"
                style="object-fit: cover"
              />
            </div>
            <div class="col-3 col-sm-7 h-100 d-flex flex-column">
              <div class="mt-auto p-4" style="margin-top: 15% !important">
                <h3 style="font-family: Comfortaa; font-weight: bold">
                  {{ d.person.firstName | titlecase }}
                  {{ d.person.lastName | titlecase }}
                </h3>
                <h6 class="fw-normal fst-italic text-primary mb-4">
                  {{ d.specialty }}
                </h6>

                <div class="d-flex justify-content-between align-items-center">
                  <ngb-rating
                    [max]="5"
                    [rate]="d.rating"
                    [readonly]="true"
                  ></ngb-rating>
                </div>
                <br />
                <h5 style="font-family: Comfortaa; font-weight: bold">
                  Price : {{ d.price }} DT
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Search Result End -->
