@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Nunito:wght@200;400&display=swap');ngb-rating{
    color:#FFC107;
    font-size:30px;
}
a 
{
    text-decoration: none;
}