<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      
    
  
      <form [formGroup]="consultForm" (ngSubmit)="confirm()" >
        <div class="formbold-form-title">
          <h2 class="">Consultation</h2>
          
        </div>
  
        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label">
            Patient
          </label>
            <select formControlName="appoin">
                <option [ngValue]="p" *ngFor="let p of patients">Patient : {{p.Patient.person.firstName  }} {{p.Patient.person.lastName }} | Date :  {{p.dateRV  |date:'dd/MM/yyyy'}} | Hour :  {{p.heureRV}}:00h </option>

            </select>
        </div>


        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label">
            Marks
          </label>
          <input
            type="text"
            name="address"
            id="address"
            class="formbold-form-input"
            formControlName="marks"
          />
        </div>

        <div class="formbold-mb-3">
            <label for="address" class="formbold-form-label">
              Medecine
            </label>
            <input
              type="text"
              name="address"
              id="address"
              class="formbold-form-input"
              formControlName="medicine"
            />
          </div>

  
        
  
        <button class="formbold-btn">Confirm</button>
      </form>
    </div>
  </div>
