<div class="row opaci">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
              <h5 class="card-title fw-semibold" style="text-align: center !important;">Patient Chat</h5>
            </div>
          </div>
          <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1000px" height="480px" src="https://charts.mongodb.com/charts-carecove-bizke/embed/charts?id=6457ea75-d3ec-4804-8cfa-6b93ed1344c6&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-6">
          <!-- Yearly Breakup -->
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <h5 class="card-title mb-9 fw-semibold">Doctors Chart</h5>
              <div class="row align-items-center">
                <div class="col-8">
                  <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="500px" height="400px" src="https://charts.mongodb.com/charts-carecove-bizke/embed/charts?id=6457e15c-398f-4c33-8729-4127ab40a6d9&maxDataAge=60&theme=light&autoRefresh=true"></iframe>

                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- Monthly Earnings -->
          <div class="card">
            <div class="card-body p-4">
              <div class="row alig n-items-start">
                <div >
                  <h5 class="card-title mb-9 fw-semibold"> Specialty Chart </h5>
                  <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="500px" height="400px" src="https://charts.mongodb.com/charts-carecove-bizke/embed/charts?id=6457f804-885f-4e8e-8979-e1fbc7c2e111&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>