<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Sign up now</h2>
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1">First name</label>
                      <input type="text" id="form3Example1" [class.is-invalid]="firstName.invalid && (firstName.touched || firstName.dirty)" class="form-control" formControlName="firstName" />
                      <div class="invalid-feedback opa" *ngIf="firstName.errors">
                        <ng-container *ngIf="firstName.errors['required']">
                             First Name Is Required
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example2">Last name</label>
                      <input type="text" id="form3Example2" [class.is-invalid]="lastName.invalid && (lastName.touched || lastName.dirty)"  class="form-control" formControlName="lastName" />
                      <div class="invalid-feedback opa" *ngIf="lastName.errors">
                        <ng-container *ngIf="lastName.errors['required']">
                             Last Name Is Required
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>


                  <!-- birthdate  and gender input -->
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Birthdate</label>
                        <input type="date" [class.is-invalid]="birthDate.invalid && (birthDate.touched || birthDate.dirty)" id="form3Example1" class="form-control" formControlName="birthDate" />
                        <div class="invalid-feedback opa" *ngIf="birthDate.errors">
                          <ng-container *ngIf="birthDate.errors['required']">
                               Birth Date Is Required
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label"  for="form3Example6">Gender</label>
                        <select formControlName="gender" [class.is-invalid]="gender.invalid && (gender.touched || gender.dirty)" id="form3Example6" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <div  class="invalid-feedback opa" *ngIf="gender.errors">
                          <ng-container *ngIf="gender.errors['required']">
                               Gender Is Required
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- height and weight -->
                 <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label"  for="form3Example1">Height (cm)</label>

                      <input type="number" id="form3Example1" class="form-control" [class.is-invalid]="height.invalid && (height.touched || height.dirty)" min="0" formControlName="height" />
                      <div class="invalid-feedback opa" *ngIf="height.errors">
                        <ng-container *ngIf="height.errors['required']">
                          Height Is Required
                        </ng-container>
                        <ng-container *ngIf="height.errors['min']">
                          Height Must Be Greater Than 0
                      </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label"  for="form3Example2">Weight</label>
                      <input type="number" [class.is-invalid]="weight.invalid && (weight.touched || weight.dirty)" id="form3Example2" min="0" class="form-control" formControlName="weight" />
                      <div class="invalid-feedback opa" *ngIf="weight.errors">
                        <ng-container *ngIf="weight.errors['required']">
                            Weight Is Required
                        </ng-container>
                        <ng-container *ngIf="weight.errors['min']">
                          Weight Must Be Greater Than 0
                      </ng-container>
                      </div>
                    </div>
                  </div>
                </div>


                 <!-- allergies  and bloodtype input -->
                 <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label  class="form-label" for="form3Example1">Allergies</label>
                      <input type="text" [class.is-invalid]="allergies.invalid && (allergies.touched || allergies.dirty)" id="form3Example1" class="form-control" formControlName="allergies" />
                      <div class="invalid-feedback opa" *ngIf="allergies.errors">
                        <ng-container *ngIf="allergies.errors['required']">
                            Allergies Are Required
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label  class="form-label" for="form3Example6">Blood Type</label>

                      <select formControlName="bloodType" [class.is-invalid]="bloodType.invalid && (bloodType.touched || bloodType.dirty)" id="form3Example6" class="form-control">
                          <option value="A+">A+</option>
                          <option value="B+">B+</option>
                          <option value="AB+">AB+</option>
                          <option value="O+">O+</option>
                          <option value="A-">A-</option>
                          <option value="B-">B-</option>
                          <option value="AB-">AB-</option>
                          <option value="O-">O-</option>
                      </select>
                      <div class="invalid-feedback opa" *ngIf="bloodType.errors">
                        <ng-container *ngIf="bloodType.errors['required']">
                            BloodType Is Required
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example3">Image</label>
                    <input
                      type="file"
                      formControlName="image"
                      class="form-control"
                      (change)="onImageChange($event)"
                    />
                  </div>
                </div>

                <!-- email and password  input -->
              <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label"  for="form3Example3">Email address</label>
                      <input type="email" [class.is-invalid]="email.invalid && (email.touched || email.dirty)" id="form3Example3" class="form-control" formControlName="email" />
                      <div class="invalid-feedback opa" *ngIf="email.errors">
                        <ng-container *ngIf="email.errors['required']">
                            Email Is Required
                        </ng-container>
                        <ng-container *ngIf="email.errors['pattern']">
                          Invalid Email Format 
                      </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label"  for="form3Example4">Password</label>
                      <input type="password" [class.is-invalid]="password.invalid && (password.touched || password.dirty)" id="form3Example4" class="form-control" formControlName="password" />
                      <div class="invalid-feedback opa" *ngIf="password.errors">
                        <ng-container *ngIf="password.errors['required']">
                            Password Is Required
                        </ng-container>
                        <ng-container *ngIf="password.errors['minlength']">
                          <b>Password Must be</b><br>
                          8 Characters Long
                      </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                
  
                
  
               
  
                <!-- Submit button -->
                <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  Already have an account?
                  <a routerLink="/login" style="text-decoration: underline;color:blue;cursor: pointer;"  >Sign in</a>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../../../../assets/login-photo.png" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->