.text-primary {
  color: #696cff !important;
  font-family: var(--bs-body-font-family);
}
.card {
  font-family: var(--bs-body-font-family);
}
.carousel-img {
  height: 23rem !important;
  opacity: 0.8;
}
.carousel-item {
  border-radius: 0 0 0.1rem 0.1rem;
}
.button-primary {
  background-color: #696cff !important;
  border-color: #696cff !important;
}
.avatar {
  border-radius: 50% !important;
}
.timee {
  background-color: rgba(255, 200, 210, 0.601);
  color: rgba(250, 92, 119, 0.904);
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
.dateee {
  color: rgba(250, 92, 119, 0.904) !important;
}
.waywa {
  border: rgba(250, 92, 119, 0.904) solid 1px;
  padding: 0.1rem;
  border-radius: 100%;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}
.waywas {
  padding-bottom: 0.7rem !important;
}
.demo-inline-calendar-card {
  width: 96%;

  margin: 0 auto;
}
.slot-button {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s;
}

.is-left {
  transform: translateX(-50px);
}

.move-left {
  transition: opacity 0.3s;
  opacity: 0;
}

.slot-button.is-left .move-left {
  opacity: 1;
}

.slot-button {
  display: flex;
  align-items: center;
}

.toggle-button {
  padding: 8px 16px;
  border: none;
  width: 70%;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
}
.waywax {
  padding-bottom: 2rem;
}

.icon {
  font-size: 24px;
  margin-left: 8px;
}

.yolo {
  //center
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
.btn-sucesss {
  background-color: rgb(96, 163, 234) !important;
}
