<div class="row">
  <div class="col-lg-8 mb-4 order-0">
    <div class="card">
      <div class="d-flex align-items-end row">
        <div class="col-sm-7">
          <div class="card-body">
            <h5 class="card-title text-primary">
              Welcome Dr. {{ Doct.person.firstName }}
              {{ Doct.person.lastName }}! 🎉
            </h5>
            <p class="mb-4">
              You have <span class="fw-bold">{{ RVs.length }}</span> upcoming
              {{ RVs.length == 1 ? "appointment" : "appointments" }} this month.
            </p>

            <a href="javascript:;" class="btn btn-sm btn-outline-primary apppoi"
              >View Upcoming Appointments</a
            >
          </div>
        </div>
        <div class="col-sm-5 text-center text-sm-left">
          <div class="card-body pb-0 px-0 px-md-4">
            <img
              *ngIf="Doct.person.gender === 'male'"
              src="https://www.drchrono.com/site_media/images/main.5447d221549a.png"
              height="140"
              alt="View Badge User"
              data-app-dark-img="illustrations/man-with-laptop-dark.png"
              data-app-light-img="illustrations/man-with-laptop-light.png"
            />
            <img
              *ngIf="Doct.person.gender === 'female'"
              src="https://cdni.iconscout.com/illustration/premium/thumb/health-diseases-guide-2245462-1892308.png"
              height="140"
              alt="View Badge User"
              data-app-dark-img="illustrations/man-with-laptop-dark.png"
              data-app-light-img="illustrations/man-with-laptop-light.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 order-1">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div
              class="card-title d-flex align-items-start justify-content-between"
            >
              <div class="avatar flex-shrink-0">
                <img
                  src="assets/t2/img/icons/unicons/chart-success.png"
                  alt="chart success"
                  class="rounded"
                />
              </div>
            </div>
            <span class="fw-semibold d-block mb-3">Today</span>
            <h3 class="card-title mb-3">{{ RVsToday.length }} Appointments</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div
              class="card-title d-flex align-items-start justify-content-between"
            >
              <div class="avatar flex-shrink-0">
                <img
                  src="assets/t2/img/icons/unicons/wallet-info.png"
                  alt="chart success"
                  class="rounded"
                />
              </div>
            </div>
            <span class="fw-semibold d-block mb-3">Price</span>
            <h3 class="card-title mb-3">{{ Doct.price }} DT /Appointment</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">BLASET L CALENDER</div>
<div class="row">
  <div class="row">
    <!-- Order Statistics -->
    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex flex-column align-items-center gap-1">
              <h5 class="my-4">Upcoming Appointments</h5>
            </div>
            <div id="orderStatisticsChart"></div>
          </div>
          <ul class="p-0 m-0">
            <li class="d-flex mb-4 pb-1" *ngFor="let apoi of AllApoi">
              <div class="flex-shrink-0 me-3">
                <div class="waywa">
                  <img
                    class="avatar"
                    [src]="
                      apoi.Patient.person.image == null
                        ? apoi.Patient.person.image
                        : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'
                    "
                    [alt]="apoi.Patient.person.firstName"
                  />
                </div>
              </div>
              <div
                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
              >
                <div class="me-2">
                  <h6 class="mb-0">
                    {{ apoi.Patient.person.firstName }}
                    {{ apoi.Patient.person.lastName }}
                  </h6>
                  <small class="text-muted dateee">{{
                    apoi.dateRV | date
                  }}</small>
                </div>
                <div class="user-progress">
                  <small class="timee"
                    >{{ apoi.heureRV }}:00
                    {{ apoi.heureRV > 12 ? " PM" : " AM" }}</small
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/ Order Statistics -->

    <!-- Expense Overview -->
    <div class="col-md-6 col-lg-4 order-1 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <button
                type="button"
                class="nav-link active button-primary"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs-tabs-line-card-income"
                aria-controls="navs-tabs-line-card-income"
                aria-selected="true"
              >
                Income
              </button>
            </li>
            <li class="nav-item">
              <button type="button-primary" class="nav-link" role="tab">
                Expenses
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link" role="tab">Profit</button>
            </li>
          </ul>
        </div>
        <div class="card-body px-0">
          <div class="tab-content p-0">
            <div
              class="tab-pane fade show active"
              id="navs-tabs-line-card-income"
              role="tabpanel"
            >
              <div class="d-flex p-4 pt-3">
                <div class="avatar flex-shrink-0 me-3">
                  <img
                    src="assets/t2/img/icons/unicons/wallet.png"
                    alt="User"
                  />
                </div>
                <div>
                  <small class="text-muted d-block">Total Balance</small>
                  <div class="d-flex align-items-center">
                    <h6 class="mb-0 me-1">$459.10</h6>
                    <small class="text-success fw-semibold">
                      <i class="bx bx-chevron-up"></i>
                      42.9%
                    </small>
                  </div>
                </div>
              </div>
              <div id="incomeChart"></div>
              <div class="d-flex justify-content-center pt-4 gap-2">
                <div class="flex-shrink-0">
                  <div id="expensesOfWeek"></div>
                </div>
                <div>
                  <p class="mb-n1 mt-1">Expenses This Week</p>
                  <small class="text-muted">$39 less than last week</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Expense Overview -->

    <!-- Transactions -->
    <div class="col-md-6 col-lg-4 order-2 mb-4">
      <div class="row">
        <h5 class="my-4">Recent Medical Articles</h5>
        <div class="col-md">
          <div
            id="carouselExample"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-bs-target="#carouselExample"
                data-bs-slide-to="0"
                class="active"
              ></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="3"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="4"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="5"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="6"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="7"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="8"></li>
              <li data-bs-target="#carouselExample" data-bs-slide-to="9"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a [href]="articles[0].url" target="_blank">
                  <img
                    class="d-block carousel-img"
                    [src]="
                      articles[0].urlToImage ||
                      'https://wallpapertag.com/wallpaper/full/6/e/c/347101-white-background-hd-2633x1542-for-full-hd.jpg'
                    "
                    [alt]="articles[0].title"
                  />
                  <div class="carousel-caption d-none d-md-block text-dark">
                    <h3 class="text-dark fw-bold">{{ articles[0].title }}</h3>
                    <p>
                      {{ articles[0].description }}
                    </p>
                  </div>
                </a>
              </div>
              <div
                class="carousel-item"
                *ngFor="let artic of articles.slice(1)"
              >
                <a [href]="artic.url" target="_blank">
                  <img
                    class="d-block carousel-img"
                    [src]="
                      artic.urlToImage ||
                      'https://wallpapertag.com/wallpaper/full/6/e/c/347101-white-background-hd-2633x1542-for-full-hd.jpg'
                    "
                    [alt]="artic.title"
                  />
                  <div class="carousel-caption d-none d-md-block text-dark">
                    <h3 class="text-dark fw-bold">{{ artic.title }}</h3>
                    <p>{{ artic.description }}</p>
                  </div>
                </a>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExample"
              role="button"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExample"
              role="button"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--/ Transactions -->
  </div>
</div>
