 <!-- Recent Sales Start -->
 <div class="container-fluid pt-4 px-4 opaci">
    <div class="text-center rounded p-4" style="background-color: #F7F7F7;box-shadow:0 4px 8px 0 rgba(95, 92, 92, 0.2), 0 6px 20px 0 rgba(95, 92, 92, 0.2);">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Patients List</h6>
        </div>
        <div class="table-responsive rounded bor" >
            <table class="table table-bordered table-hover mb-0" >
                <thead>
                    <tr >
                        <th scope="col" class="colo">id</th>
                        <th scope="col" class="colo">First Name</th>
                        <th scope="col" class="colo">Last Name</th>
                        <th scope="col" class="colo">Birth Date</th>
                        <th scope="col" class="colo">Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of patients;index as i"  >
                        <td>{{i+1}}</td>
                        <td>{{p.person.firstName}}</td>
                        <td>{{p.person.lastName}}</td>
                        <td>{{p.person.birthDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{p.person.gender}}</td>
                        <td><a style="color:white" class="btn btn-sm btn-primary" (click)="deletePatientById(p._id)" >Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->