<body>
  <!--  Body Wrapper -->
  <div
    class="page-wrapper opaci"
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin6"
    data-sidebartype="full"
    data-sidebar-position="fixed"
    data-header-position="fixed"
  >
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div
          class="brand-logo d-flex align-items-center justify-content-between"
        >
          <a
            href="./index.html"
            class="text-nowrap logo-img"
            style="
              font-size: 30px;
              margin-left: 35px;
              font-weight: bold;
              text-decoration: none;
              color: black;
            "
          >
            CARECOVE
          </a>
          <div
            class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
            id="sidebarCollapse"
          >
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <div style="position: relative; right: 20px">
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item hovs">
                <span
                  class="sidebar-link"
                  style="color: #000000; font-weight: 400"
                  routerLink="dashboard"
                  routerLinkActive="actif"
                  aria-expanded="true"
                >
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Dashboard</span>
                </span>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">UI COMPONENTS</span>
              </li>
              <li class="sidebar-item hovs">
                <span
                  class="sidebar-link"
                  style="color: #000000; font-weight: 400"
                  routerLinkActive="actif"
                  routerLink="doctorsList"
                  aria-expanded="false"
                >
                  <span>
                    <svg
                      style="font-weight: bold !important"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person-vcard"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"
                      />
                      <path
                        d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"
                      />
                    </svg>
                  </span>
                  <span class="hide-menu">Doctors List</span>
                </span>
              </li>
              <li class="sidebar-item hovs">
                <span
                  class="sidebar-link"
                  routerLink="patientsList"
                  routerLinkActive="actif"
                  style="color: #000000; font-weight: 400"
                  aria-expanded="false"
                >
                  <span>
                    <svg
                      style="font-weight: bold !important"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person-video"
                      viewBox="0 0 16 16"
                    >
                      <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                      <path
                        d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2Zm10.798 11c-.453-1.27-1.76-3-4.798-3-3.037 0-4.345 1.73-4.798 3H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1.202Z"
                      />
                    </svg>
                  </span>
                  <span class="hide-menu">Patients List</span>
                </span>
              </li>

              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">AUTH</span>
              </li>
              <li class="sidebar-item">
                <span
                  class="sidebar-link"
                  style="color: #000000; font-weight: 400"
                  href="./authentication-login.html"
                  aria-expanded="false"
                >
                  <span>
                    <i class="ti ti-login"></i>
                  </span>
                  <span class="hide-menu">Logout</span>
                </span>
              </li>
              <li class="sidebar-item">
                <span
                  class="sidebar-link"
                  style="color: #000000; font-weight: 400"
                  href="./authentication-register.html"
                  aria-expanded="false"
                >
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-shield-plus"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"
                      />
                      <path
                        d="M8 4.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5z"
                      />
                    </svg>
                  </span>
                  <span class="hide-menu">Change Password</span>
                </span>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">EXTRA</span>
              </li>
              <li class="sidebar-item">
                <span
                  style="color: #000000; font-weight: 400"
                  class="sidebar-link"
                  href="./sample-page.html"
                  aria-expanded="false"
                >
                  <span>
                    <i class="ti ti-aperture"></i>
                  </span>
                  <span class="hide-menu">About CareCove</span>
                </span>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a
                class="nav-link sidebartoggler nav-icon-hover"
                id="headerCollapse"
                href="javascript:void(0)"
              >
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="javascript:void(0)"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
                <div
                  class="dropdown-menu dropdown-menu-start dropdown-menu-animate-down opaci"
                  aria-labelledby="drop2"
                >
                  <div style="width: 51vh !important" class="message-body">
                    <div style="display: flex; justify-content: space-between">
                      <div style="margin-left: 5%">Notifications</div>
                      <div title="clear" style="margin-left: 52%">
                        <svg (click)="deleteAll()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                          <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
                        </svg>
                      </div>
                      <hr />
                    </div>
                    <div class="hov">
                      <hr />
                      <div
                        *ngIf="notifications?.length == 0"
                        style="text-align: center"
                      >
                        No New Notifications
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-bell-slash-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M5.164 14H15c-1.5-1-2-5.902-2-7 0-.264-.02-.523-.06-.776L5.164 14zm6.288-10.617A4.988 4.988 0 0 0 8.995 2.1a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 7c0 .898-.335 4.342-1.278 6.113l9.73-9.73zM10 15a2 2 0 1 1-4 0h4zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75L.625 15.625z"
                          />
                        </svg>
                      </div>
                      <ng-container *ngIf="notifications?.length != 0">
                        <div
                          *ngFor="let m of notifications | slice : 0 : 3"
                          style="
                            color: #41baf8;
                            font-size: 11.5px;
                            font-weight: 700;
                          "
                        >
                          <span style="margin-left: 10px"
                            ><span
                              ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-person"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                                /></svg></span
                            >&nbsp;<span
                              >{{ m.action | uppercase }}
                              {{ m.dateNotification | date : "dd-MM-yyyy" }}
                              &nbsp;
                              <svg style="color: #f14c4c" xmlns="http://www.w3.org/2000/svg" (click)="deleteNotif(m._id)" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                              </svg>
                             </span
                          ></span>
                          <hr />
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item" style="margin-left: 380px !important">
              <span
                class="nav-link"
                style="font-size: 15px !important; font-weight: 600 !important"
              >
                <img [src]="weather?.current?.condition.icon" />
                {{ weather?.current?.temp_c }}C
                {{ weather?.current?.condition.text }}
              </span>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul
              class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
            >
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  href="javascript:void(0)"
                  id="drop2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="assets/admindashb/images/profile/user-1.jpg"
                    alt=""
                    width="35"
                    height="35"
                    class="rounded-circle"
                  />
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up opaci"
                  aria-labelledby="drop2"
                >
                  <div class="message-body">
                    <a
                      href="javascript:void(0)"
                      class="d-flex align-items-center gap-2 dropdown-item"
                    >
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="d-flex align-items-center gap-2 dropdown-item"
                    >
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="d-flex align-items-center gap-2 dropdown-item"
                    >
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a
                      href="./authentication-login.html"
                      class="btn btn-outline-primary mx-3 mt-2 d-block"
                      >Logout</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="py-6 px-6 text-center">
          <router-outlet></router-outlet>
          <br />
          <p style="font-weight: bold" class="mb-0 fs-4">
            Designed and Developed by
            <a
              href="https://adminmart.com/"
              target="_blank"
              class="pe-1 text-primary text-decoration-underline"
              >CARECOVE</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
