<div  *ngIf="consus.length==0">
  <h4 _ngcontent-iaw-c205="" class="text-danger mb-4" style="margin-top:80px;text-align: center;"> You Dont Have Any <br> <br>  Consultations
  <br>
  <br>
  <i class='bx bxs-capsule text-danger' style=' margin-top: 10px;  font-size: 40px;'></i>
  </h4>
</div>
<div class="container-fluid pt-4 px-4 opaci" *ngIf="consus.length!=0" >
  <div
    class="bg-light text-center rounded p-4"
    style="
      background-color: #f7f7f7;
      box-shadow: 0 4px 8px 0 rgba(95, 92, 92, 0.2),
        0 6px 20px 0 rgba(95, 92, 92, 0.2);
    "
  >
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">Consultations List</h6>
    </div>
    <div class="table-responsive rounded">
      <table class="table table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">
            <th scope="col" class="colo">Image</th>
            <th scope="col" class="colo">Patient</th>
            <th scope="col" class="colo">Blood Type</th>
            <th scope="col" class="colo">Allergies</th>
            <th scope="col" class="colo">Date</th>
            <th scope="col" class="colo">Marks</th>
            <th scope="col" class="colo">Medicine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of consus; index as i">
            <td>
              <div class="avatar waywa" style="margin: auto">
                <img
                  [src]="
                    a.patientId.person.image ||
                    'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'
                  "
                  alt
                  class="w-px-40 h-px-40 rounded-circle imgeAvatar"
                />
              </div>
            </td>
            <td>
              {{ a.patientId.person.firstName }}
              {{ a.patientId.person.lastName }}
            </td>
            <td scope="col" class="colo">{{ a.patientId.bloodType }}</td>
            <td scope="col" class="colo">
              <small *ngFor="let aler of a.patientId.allergies">{{
                aler
              }}</small>
            </td>

            <td scope="col" class="colo">{{ a.date | date }}</td>
            <td scope="col" class="colo">{{ a.marks }}</td>
            <td scope="col" class="colo">{{ a.medicine }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
