
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;">Welcome To Carecove</h5>
                    <h1 class="display-1 text-white mb-md-4">Best Healthcare Solution In Your City</h1>
                    <div class="pt-2">
                        <a routerLink="../list" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Find Doctor</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Specialities</h5>
        <h1 class="display-4">Doctors specialities </h1>
    </div>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="width:60% !important;margin-left: 22%;height: 10% !important;">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  src="../../../../assets/img/pediatrician.jpg" alt="Los Angeles" class="d-block w-100">
        <div class="carousel-caption">
            <h3 class="display-4"   >Peditricians</h3>
            
          </div>
      </div>
      <div class="carousel-item">
        <img  src="../../../../assets/img/physi.jpg" alt="Chicago" class="d-block w-100">
        <div class="carousel-caption">
            <h3 class="display-4">Psychiatrists</h3>
           
          </div>
      </div>
      <div class="carousel-item">
        <img  src="../../../../assets/img/dermatologists.jpg" alt="New York" class="d-block w-100">
        <div class="carousel-caption">
            <h3 class="display-4">Dermatologists</h3>
            
          </div>
      </div>
      <div class="carousel-item">
        <img  src="../../../../assets/img/image_2023-05-22_204140791.png" alt="New York" class="d-block w-100">
        <div class="carousel-caption">
            <h3 class="display-4">General Practitioner</h3>
            
          </div>
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

