<div class="container">
  <div class="row">
    <div class="d-flex flex-row align-items-center">
      <img
        class="photo"
        [src]="currentDoctorPerson?.image"
        width="250px"
        height="250px"
        alt=""
      />
      <div style="margin-left: 20px">
        <p class="fw-bold h6 mt-0" style="font-size: 23px">
          Dr. {{ currentDoctorPerson?.firstName | titlecase }}
          {{ currentDoctorPerson?.lastName | titlecase }}
        </p>
        <p
          class="text-muted"
          style="font-size: 15px; margin-top: 10px; margin-bottom: 10px"
        >
          {{ currentDoctor?.specialty }}
        </p>
        <div class="d-flex" style="margin-left: 0px">
          <i
            class="bi bi-telephone-fill"
            style="color: rgb(0, 140, 255); font-size: 25px; margin-right: 16px"
          ></i>

          <i
            class="bi bi-chat-dots-fill"
            style="color: rgb(21, 217, 21); font-size: 26px"
          ></i>
        </div>
      </div>
      <p
        style="
          font-size: 25px;
          font-weight: bold;
          margin-left: 65%;
          margin-top: 5%;
        "
      >
        {{ currentDoctor?.price }} DT
      </p>
    </div>
  </div>
  <div>
    <button
      style="
        margin-top: 20px;
        width: 100%;
        border-radius: 10px;
        background-color: black;
        color: white;
        height: 50px;
        font-size: 17px;
      "
      (click)="RendezVous()"
    >
      Book an appointment
    </button>
  </div>
  <div class="row" style="margin-top: 40px">
    <!--Partie 1-->
    <div class="col-md-5">
      <div class="row">
        <div class="col-12 bg-white p-0 px-3 py-3 mb-3">
          <div class="d-flex flex-row justify-content-between py-1 px-3">
            <p style="margin-left: 35px" class="detailNom">Patients</p>
            <p style="margin-left: 8px" class="detailNom">Experiences</p>
            <p style="margin-right: 35px" class="detailNom">Ratings</p>
          </div>
          <div class="d-flex flex-row justify-content-between py-2 px-12">
            <p class="boxInfo">+400</p>
            <p class="boxInfo">+{{ currentDoctor?.experience }} year</p>
            <p class="boxInfo">{{ currentDoctor?.rating }}</p>
          </div>
        </div>

        <!--Partie 2-->

        <div class="col-12 bg-white p-0 px-2 pb-3 mb-3">
          <p class="calenderbox">Schedule</p>

          <div
            class="d-flex justify-content-between py-2 px-3"
            style="margin-left: 0px !important; padding-left: 0px !important"
          >
            <p
              class="boxInfo av"
              style="height: 60px; width: 90px; cursor: pointer"
              (click)="change($event)"
              [ngStyle]="{
                'background-color': !isDateAvailable(c)
                  ? 'rgb(224, 224, 224)'
                  : '',
                color: !isDateAvailable(c) ? 'rgb(179, 178, 178)' : ''
              }"
              *ngFor="let c of calenders"
              (click)="showTime(c)"
            >
              <ng-container></ng-container>

              {{ c.date | date : "dd" }} <br />
              {{ c.date | date : "MMMM" }}
            </p>

            <!-- <p class="boxInfo" style="height: 60px; width: 90px; background-color: rgb(96, 163, 234); color: white !important;">26 <br> March</p>
                        <p class="boxInfo" style="height: 60px; width: 90px;">27 <br> <span style="color:rgb(155, 155, 155)">March</span></p>
                        <p class="boxInfo" style="height: 60px; width: 90px;">28 <br> <span style="color:rgb(155, 155, 155)">March</span> </p>
                        <p class="boxInfo" style="height: 60px; width: 90px;">30<br> <span style="color:rgb(155, 155, 155)">March</span> </p>
                        <p class="boxInfo" style="height: 60px; width: 90px;">31 <br> <span style="color:rgb(155, 155, 155)">March</span> </p> -->
          </div>
          <div *ngIf="testTime" class="sched">
            <p class="calenderbox">Time</p>

            <div
              style="
                margin-left: 0px !important;
                padding-left: 0px !important;
                padding-top: 2rem;
                margin: 0 2rem;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 35px;
              "
            >
              <div *ngFor="let c of calender.availability">
                <span
                  class="boxInfo"
                  style="
                    padding-right: 33.3px;
                    padding-left: 33.3px;
                    cursor: pointer;
                    height: 60px;
                  "
                  [style.pointer-events]="!c.isAvailable ? 'none' : null"
                  [ngClass]="{
                    av: c.isAvailable,
                    notAv: !c.isAvailable,
                    selectedC: selectedBox === box
                  }"
                  (click)="onBoxClick($event)"
                  (click)="changeTime(c.time)"
                  #box
                >
                  {{ c.time }}:00
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between py-2 px-3"></div>
        </div>
      </div>
    </div>

    <div class="col-md-7 ps-md-5">
      <div class="row">
        <!--Partie 3-->

        <div class="col-12 bg-white px-3 mb-15 pb-2">
          <p class="calenderbox">About doctor</p>

          <div
            style="
              color: rgb(186, 186, 186);
              width: 87%;
              margin-left: 20px;
              margin-top: 10px;
              line-height: 30px;
            "
          >
            {{ currentDoctor?.description | titlecase }}
          </div>
        </div>
        <br />
        <br />
        <!--Partie 4-->
        <div class="col-12 bg-white px-3 mb-15 pb-2">
          <div>
            <p class="calenderbox">Location</p>
            <div
              style="
                color: rgb(186, 186, 186);
                width: 87%;
                margin-left: 20px;
                margin-top: 10px;
              "
            >
              <i class="bi bi-geo-alt"> {{ currentDoctor?.location }} </i>
            </div>
            <iframe
              class="position-relative w-100 h-100"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
              frameborder="0"
              style="border: 0; width: 500px; height: 500px"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Comment -->
<div class="formbold-main-wrapper" style="margin-top: 0% !important; width: 100% !important;">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <div class="formbold-form-title">
        <h2 class="">Leave a comment</h2>
      </div>

      <div class="formbold-mb-3">
        <label for="rating" class="formbold-form-label"> Rating </label>
        <ngb-rating [max]="5" [rate]="" formControlName="rating"></ngb-rating>
        <label for="address" class="formbold-form-label"> Comment </label>
        <input
          type="text"
          name="address"
          id="address"
          class="formbold-form-input"
          formControlName="text"
          style="height: 100px"
        />
      </div>

      <button
        class="formbold-btn"
        type="submit"
        style="background-color: rgb(147, 147, 255)"
      >
        Confirm
      </button>
    </form>
  </div>
</div>


<div class="formbold-main-wrapper" style="margin-top: 0% !important; width: 100% !important;">
  
  <div class="formbold-form-wrapper "  >
   
      <div class="formbold-form-title">
        <h2 class="">Reviews</h2>
        
      </div>

    <div
      class="formbold-mb-3"
      style="
        border: 1px solid rgb(205, 204, 204);
        padding: 20px;
        padding-bottom: 0%;
        margin-bottom: 3%;
        height: auto !important;
      "
      *ngFor="let c of comments"
    >
      <img
        [src]="c.patient?.image!"
        style="height: 60px; width: 60px; margin-left: 20px"
      />
      <div style="position: relative; left: 2px; top: 20px">
        {{ c.patient?.firstName! }} {{ c.patient?.lastName! }}
      </div>
      <div style="position: relative; top: -80px; left: 140px">
        <ngb-rating [max]="5" [rate]="c.rating" [readonly]="true"></ngb-rating>
        <div
          style="margin-bottom: 0% !important; padding-bottom: 0% !important"
        >
          {{ c.text }}
        </div>
      </div>
      <i style="float: right; position: relative; margin-top: -150px">{{
        c.date | date : "dd-MM-yyyy"
      }}</i>
    </div>
  </div>
</div>
