@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body {
    background-color: #e2e8f0;
    padding: 20px;
    margin-top: 0% !important;
}

.breadcrumb {
    background-color: #c5cee4;

}

.breadcrumb a {
    text-decoration: none;
}

.container {
    width: 120% !important;
    padding:20px;
    margin-left: 5%;
}



.d-flex a {
    text-decoration: none;
    color: #686868;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.fab.fa-twitter {
    color: #8ab7f1;
}

.fab.fa-instagram {
    color: #E1306C;
}

.fab.fa-facebook-f {
    color: #5999ec;
}
.boxInfo{
    background-color: rgba(238, 238, 238, 0.922);
    border-radius: 10px;
    padding: 10px;
    padding-top: 13px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.detailNom{
    font-weight: bold;
    color: rgb(158, 157, 157);
    text-align: center;
}

.calenderbox{
    margin-top: 10px;
    margin-left: 5px;

    font-size: 15px;
    font-weight: bold;
}

.av{
    background-color: white;
    color:black
}

.notAv{
    background-color: rgb(224, 224, 224);
    color:rgb(179, 178, 178);
    
}

.selectedC
{
    background-color: rgb(96, 163, 234); color: white !important;
}